<ion-view ng-controller="HomeController as home_ctrl" ng-init="home_ctrl.getUserInfo()">

  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-title>
      Home
    </ion-nav-title>

  </ion-nav-bar>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>

    <ion-content class="has-header padding">

                  <!--           PROFILE DLA FB         -->

      <div class="list" ng-show="userDetails.first_name">

      <div class="item item-divider">
        Profile
      </div>

      <a class="item item-avatar" href="#">
        <img src="{{ userDetails.picture.data.url }}">
        <h2> {{ userDetails.first_name }} {{ userDetails.last_name }}</h2>
      </a>

      </div>


                  <!--           PROFILE DLA JWT          -->


      <div ng-show="userDetails.username">

        <div class="item item-divider">
          Profile
        </div>

        <ul class="list">
          <li>
            <a class="item item-avatar" href="#">
              <img src="">
              <h2> Username: {{ userDetails.username }}</h2>
            </a>
          </li>
        </ul>

      </div>

        <div class="item item-divider">
          Notifications
        </div>

      <br/><br/><br/>

      <button class="button button-full button-balanced" ui-sref="app.quiz">
        QuizME
      </button>



    </ion-content>

  <div class="bar bar-footer bar-assertive">
    <div class="title" ng-click="home_ctrl.logout()">Logout</div>
  </div>


</ion-view>
