<ion-view ng-controller="HomeController as home_ctrl" ng-init="home_ctrl.getUserInfo()">

  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-title>
      Home
    </ion-nav-title>

  </ion-nav-bar>

    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </ion-nav-buttons>

    <ion-content class="has-header padding">

                  <!--           PROFILE DLA FB         -->

      <div class="list" ng-show="home_ctrl.userDetails">

      <div class="item item-divider">
        Profile
      </div>

      <a class="item item-avatar" href="#">
        <img src="{{ home_ctrl.userDetails.picture.data.url }}">
        <h2> {{ home_ctrl.userDetails.first_name }} {{ home_ctrl.userDetails.last_name }}</h2>
      </a>

      </div>






                  <!--           PROFILE DLA JWT          -->


      <div ng-show="home_ctrl.jwtUserName">

        <div class="item item-divider">
          Profile
        </div>

        <ul class="list">
          <li>
            <a class="item item-avatar" href="#">
              <img src="">
              <h2> Username: {{ home_ctrl.jwtUserName }}</h2>
            </a>
          </li>
        </ul>

      </div>


               <!--           WSPOLNY WIDOK PRZYJACIOL          -->

        <div class="item item-divider">
          Friends

          <label class="item item-input">
            <input type="text" placeholder="Search for a friend..." ng-model="home_ctrl.friendSearch" friend-finder>
          </label>

        </div>

      <div class="card" ng-show="friendData">
        <div class="item item-text-wrap">
          {{ friendData.friendDetails.username }}

          <button class="button button-small button-calm" ng-show="friendData.alreadyFriend">
            Already a Friend
          </button>
          <button class="button button-small button-balanced" ng-show="friendData.friendExists && !friendData.alreadyFriend && !home_ctrl.sendingInvite" ng-click="home_ctrl.inviteUser(friendData)">
            Invite
          </button>

          <span ng-show="home_ctrl.sendingInvite && !home_ctrl.inviteSent">Sending request...</span>

          <span ng-hide="friendData.friendExists"> no users with that username found </span>

          <button class="button button-small button-positive" ng-show="home_ctrl.inviteSent">
            Request sent
          </button>
        </div>
      </div>

        <ul class="list">

          <li ng-repeat="friend in home_ctrl.friendList">

            <a class="item item-icon-left item-icon-right" href="#">
              <i class="icon ion-chatbubble-working"></i>
              {{ friend.username }}
              <i class="icon ion-checkmark-round green-icon" ng-show="friend.userStatus"></i>

            </a>

          </li>


        </ul>

      <div class="card" ng-show="home_ctrl.friendList">
        <div class="item item-text-wrap friendRefreshInfo">
          Friend list is being auto-refreshed every 30 secs
        </div>
      </div>



      <div class="row">
        <div class="col col-60 col-offset-20">
          <a class="button button-assertive button-block" ng-click="home_ctrl.logout()">Logout</a>
        </div>
      </div>

    </ion-content>


</ion-view>
