<ion-view ng-controller="LoginController as login_ctrl" ng-init="login_ctrl.updateLoginStatus()">



  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-title>
      Login
    </ion-nav-title>
  </ion-nav-bar>

  <ion-content class="has-header padding">

    <div class="row text-center">
      <div id="logodiv" class="col">
        <img src="https://i.imgsafe.org/2af3200.png">
      </div>
    </div>

    <div class="row text-center" class="welcomeTextDiv" ng-hide="login_ctrl.logged_in || login_ctrl.jwtlogin">
      <div class="col">
        <span class="welcomeText">Welcome in PM App. <br/> Please login to continue.<br/> Enjoy!</span>
      </div>
    </div>

    <div class="row text-center" class="welcomeTextDiv" ng-show="login_ctrl.logged_in">
      <div class="col">
        <span class="welcomeText">User recognized. <br/> Welcome back!</span>
      </div>
    </div>

    <div class="row">
      <div class="col col-70 col-offset-15">
         <a class="button button-positive button-block" ng-hide="login_ctrl.logged_in || login_ctrl.jwtlogin" ng-click="login_ctrl.fbLogin()">Login with Facebook  </a>
      </div>
    </div>

    <div class="row">
      <div class="col col-70 col-offset-15">
        <a class="button button-royal button-block" ng-hide="login_ctrl.logged_in || login_ctrl.jwtlogin" ng-click="login_ctrl.jwtLogin()">Login with User / Password</a>
      </div>
    </div>

    <div class="row">
      <div class="col col-60 col-offset-20">
    <a class="button button-balanced button-block" ng-show="login_ctrl.logged_in">Forwarding...</a>
      </div>
   </div>



    <!-- FORMA LOGOWANIA DO JWT -->


    <form name="jwtLoginForm" novalidate ng-submit="login_ctrl.jwtSignIn(jwtLoginForm)">

    <div class="list" ng-show="login_ctrl.logged_in || login_ctrl.jwtlogin">


        <label class="item item-input" ng-class="{ 'has-errors' : jwtLoginForm.username.$invalid && jwtLoginForm.username.$touched,
         'no-errors': jwtLoginForm.username.$valid && jwtLoginForm.username.$touched }">
          <span class="input-label">Username</span>
          <input type="text" name="username" ng-model="login_ctrl.username" ng-minlength="2" ng-maxlength="15">
        </label>

        <div class="error-container" ng-show="jwtLoginForm.username.$error && jwtLoginForm.username.$touched" ng-messages="jwtLoginForm.username.$error">
          <div ng-messages-include src="../modules/auth/templates/errorlist.html"></div>
        </div>

      <label class="item item-input" ng-class="{ 'has-errors' : jwtLoginForm.password.$invalid && jwtLoginForm.$submitted,
       'no-errors' : jwtLoginForm.password.$valid  && jwtLoginForm.$submitted}">
        <span class="input-label">Password</span>
        <input type="password" name="password" ng-model="login_ctrl.password" ng-minlength="3" ng-maxlength="15">
      </label>

      <div class="error-container last-error-container" ng-show="jwtLoginForm.password.$error" ng-messages="jwtLoginForm.password.$error">
        <div ng-messages-include src="../modules/auth/templates/errorlist.html"></div>
      </div>

    </div>

    <div class="row" ng-show="login_ctrl.logged_in || login_ctrl.jwtlogin">
      <div class="col col-30">
        <button class="button button-full button-positive" type="submit" ng-disabled="jwtLoginForm.$invalid">Sign in</button>
      </div>

    </div>

    </form>

      <div ng-show="login_ctrl.logged_in || login_ctrl.jwtlogin">

        <div class="row">
          <div class="col">
            <button class="button button-full button-small button-assertive" ng-click="login_ctrl.registerForm()">
              Register
            </button>
          </div>
        </div>


        <div class="row text-center">
          <div class="col">
          <button class="button icon-left ion-home" ng-click="login_ctrl.returnHome()">Home</button>
          </div>
        </div>


      </div>



  </ion-content>


</ion-view>

