<ion-view ng-controller="PrivateChatController as prvChat_ctrl" ng-init="prvChat_ctrl.getPrvChatLog()" id="prvChatView">

  <ion-header-bar align-title="center" class="bar-positive">

    <div class="buttons">
      <a class="button icon-left ion-chevron-left button-clear" ng-click="prvChat_ctrl.goBack()">Back</a>
    </div>

    <h1 class="title"> {{ prvChat_ctrl.friendName }} </h1>

  </ion-header-bar>



  <ion-content class="has-header has-footer" delegate-handle="privateChatScroll">

    <div class="list" ng-show="prvChat_ctrl.noChatLog"> <div class="item"> {{ prvChat_ctrl.noChatLog }} </div></div>

    <div ng-repeat="message in prvChat_ctrl.prvChatLog">

        <div class="chat-bubble left" ng-if="prvChat_ctrl.userDbId !== message.userID">

          <div class="message">
            {{ message.message }}
          </div>

          <span class="bold"> {{ prvChat_ctrl.friendName }} </span>,
          <span am-time-ago="message.timeAdded"></span>

        </div>


        <div class="chat-bubble right" ng-if="prvChat_ctrl.userDbId === message.userID">

          <div class="message">
            {{ message.message }}
          </div>

          <span ng-click="viewProfile(message)"
                class="bold">{{ prvChat_ctrl.ownUsername }}</span>,
          <span am-time-ago="message.timeAdded"></span>

        </div>

      <div class="cf"></div>

    </div>




  </ion-content>


  <form name="prvChatForm" id="prvChatForm" novalidate ng-submit="prvChat_ctrl.sendPrvChatMsg()">

  <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>

    <label class="item-input-wrapper">
      <textarea name="prvChatInput" placeholder="message goes here...!" ng-model="prvChat_ctrl.prvChatInput" max-length="150" required minlength="1" msd-elastic></textarea>
    </label>

    <div class="footer-btn-wrap">

      <button class="button button-icon icon ion-android-send footer-btn" type="submit"></button>

    </div>

  </ion-footer-bar>

  </form>


</ion-view>
