
<ion-view ng-controller="QuizGameController as quizGame_ctrl">

  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-title>
      QuizME
    </ion-nav-title>
  </ion-nav-bar>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-content class="has-header padding">

    <div id="playersDiv">
    <div class="item item-divider">
      Players:
    </div>

    <a class="item">
      {{ quizGame_ctrl.gameData.players[0].username }}
    </a>

    <a class="item">
      {{ quizGame_ctrl.gameData.players[1].username }}
    </a>

    <div class="item item-divider" id="difficultyDiv">
      Difficulty:
    </div>

    <a class="item">
      {{ quizGame_ctrl.gameData.players[0].difficulty }}
    </a>

    <br/>
    </div>

    <div class="item item-divider" id="rollingCard">

        <div class="row" id="quizMeRow">
            <div class="col col-10" id="colWithSpinner">

              <div class="cssload-container">
                <div class="cssload-whirlpool"></div>
              </div>

            </div>
          <div class="col spinnerText" id="quizMeHeader">Rolling category for first round...</div>
        </div>

    </div>


    <div class="item item-divider" id="opponentAnswers">

          <div class="row" id="opponentAnswersListSpinner">
            <div class="col col-10" ng-hide="opponentAnswers">

              <div class="cssload-container">
                <div class="cssload-whirlpool"></div>
              </div>

            </div>
            <div class="col spinnerText" >waiting for Opponent results...</div>
          </div>


          <div class="row text-center" id="opponentAnswersList">
            <div ng-repeat="answer in opponentAnswers track by $index" ng-class="{'correctAnswerDiv col col-33 answerButtons' : answer.correctAnswer == true,
               'incorrectAnswerDiv col col-33 col-offset-5 answerButtons' : answer.correctAnswer == false }">
              {{ answer.questionNumber }}
            </div>
          </div>

    </div>


      <a class="item" id="progressText">
        Quiz starting in {{ quizGame_ctrl.actualValue }}...
        <progress id="progressbar" value="3" max="3" class="progressbar"></progress>
      </a>



                 <!-- ELEMENTY QUIZOWE -->


    <ul class="list item-text-wrap" id="listWithQuestions">
      <li class="item">
        <span class="bold"></span>{{ actualQuestion }}
      </li>

      <a class="item" ng-click="quizGame_ctrl.userAnswer(data.answer)" ng-repeat="data in shuffledAnswers" id="{{ data.correct }}"
       ng-class="{ 'correctAnswerGiven' : clickedAnswer && showCorrectAnswer && data.correct == true,
        'incorrectAnswerGiven' : data.answer == clickedAnswer && data.correct == false
         }">
        {{ data.answer }}
      </a>

    </ul>

    <a class="item" id="questionTimer">
      Time left: {{ questionTimer }}s
      <progress id="progressbar" value="{{questionTimer}}" max="10" class="progressbar"></progress>
    </a>


    <div class="item item-divider" id="myAnswersInfo">

      <div class="row">
        <div class="col">Your answers:</div>
      </div>

      <div class="row text-center" id="myAnswersList">
        <div ng-repeat="answer in myAnswers track by $index" ng-class="{'correctAnswerDiv col col-33 answerButtons' : answer.correctAnswer == true,
           'incorrectAnswerDiv col col-33 col-offset-5 answerButtons' : answer.correctAnswer == false }">
          {{ answer.question }}
        </div>
      </div>

    </div>


    <div class="item item-divider" id="infoOnResults">

      <div class="row">
        <div class="col" id="infoOnNewCategory"></div>
      </div>

      <div class="row" id="newCategorySpinner">
        <div class="col col-10" ng-hide="category">

          <div class="cssload-container">
            <div class="cssload-whirlpool"></div>
          </div>

        </div> <div class="col" id="categorySpinnerText"></div>
      </div>

    </div>

    <div id="finalResultsDiv">

    <a class="item">
      Your correct answer count: {{ myAnswersResults }}
    </a>

    <a class="item">
      Opponent correct answer count: {{ opponentAnswerResults }}
    </a>

    <a class="item" id="finalResultsInfoFrame">

    </a>

    <button class="button button-block button-positive" ng-click="quizGame_ctrl.backToBoard()">
      Return to lobby
    </button>

    </div>


    <div class="item item-divider" id="chooseCategoryAfterLoss">

    <div class="row" id="categoryChooser">
        <div class="col col-10" id="categoryChooserSpinner">

          <div class="cssload-container">
            <div class="cssload-whirlpool"></div>
          </div>

        </div> <div class="col" id="categoryChooserSpinnerText"></div>
    </div>

    </div>

    <a class="item" ng-repeat="category in categoriesToChoose" ng-show="categoriesToChoose" ng-click="chosenCategory(category)">
    {{ category }}
    </a>

    <a class="item" ng-show="loadingNewCategory">
      <div class="row">
      <div class="col col-10">

        <div class="cssload-container">
          <div class="cssload-whirlpool"></div>
        </div>

      </div> <div class="col"> Loading data...</div>
      </div>
    </a>


  </ion-content>




  </ion-view>
