
<ion-view ng-controller="QuizQueController as quizQue_ctrl" ng-init="quizQue_ctrl.stopQue()">

  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-title>
      QuizME
    </ion-nav-title>
  </ion-nav-bar>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-content class="has-header padding">

    <div class="list" id="quizSearcher">

      <div class="item item-divider spinnerDivider">
        <div class="row">
          <div class="col col-10"><ion-spinner></ion-spinner></div> <div class="col spinnerText" id="quizMeHeader">Game Search in progress...</div>
        </div>
      </div>

      <a class="item queMarks" id="addedToQueMark">
        <i class="icon ion-checkmark-round markIcon markGreen"></i> <span class="markText">Joined the que</span>
      </a>

      <a class="item queMarks" id="lookingForOpponent">
        <i class="icon ion-stats-bars markIcon markBlue"></i> <span class="markText">Looking for opponent...</span>
      </a>

      <a class="item queMarks" id="opponentFound">
        <i class="icon ion-checkmark-round markIcon markGreen"></i> <span class="markText">Opponent found</span>
      </a>

      <a class="item queMarks" id="preparingQuiz">
        <i class="icon ion-stats-bars markIcon markBlue"></i> <span class="markText">Preparing Quiz...</span>
      </a>

      <a class="item queMarks" id="quizPrepared">
        <i class="icon ion-stats-bars markIcon markBlue"></i> <span class="markText">Quiz prepared</span>
      </a>


      <a class="item text-center" id="cancelSearch" ng-click="quizQue_ctrl.stopQue()">
      Cancel search
      </a>

      <div class="item item-divider opponentDeclined">
        <i class="icon ion-ios-body markIcon markRed"></i> Opponent declined ! Returning...
      </div>

      <div class="item item-divider waitingForServer">
        <i class="icon ion-ios-body markIcon markBlue"></i> Waiting for server...
      </div>

      <div class="item item-divider bothPlayersReady">
        <i class="icon ion-ios-body markIcon markBlue"></i> Both players are ready !
      </div>

      <div class="item item-divider opponentFoundDivs">
        Do you want to start?
      </div>

      <div class="button-bar opponentFoundDivs">
        <a class="button" ng-click="quizQue_ctrl.acceptQuiz()">Yes</a>
        <a class="button" id="discardQuiz" ng-click="quizQue_ctrl.discardQuiz()">No</a>
      </div>

    </div>

    </div>

    <div class="list" id="quizChooser">

      <div class="item item-divider">
        Please choose <span class="bold">QuizME</span> mode:
      </div>

      <a class="item text-center" ng-click="quizQue_ctrl.startQuiz('regular')">
        Regular mode
      </a>

      <a class="item text-center" ng-click="quizQue_ctrl.startQuiz('ranked')">
        Ranked mode
      </a>

      <a class="item text-center" ng-click="quizQue_ctrl.startQuiz('solo')">
        Solo Quiz (no opponent)
      </a>

    </div>


    <div class="list">

      <div class="item item-divider">
       Quiz'ing people atm:
      </div>

      <a class="item" href="#">
        in Normal mode: 68
      </a>

      <a class="item" href="#">
        in Ranked mode: 125
      </a>

    </div>




  </ion-content>




  </ion-view>
