
<ion-view ng-controller="QuizQueController as quizQue_ctrl" ng-init="quizQue_ctrl.stopQue()">

  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-title>
      {{ quizQue_ctrl.quizMeStage }}
    </ion-nav-title>
  </ion-nav-bar>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>


  <ion-content class="has-header padding">

    <quiz-que-directive></quiz-que-directive>


  </ion-content>




  </ion-view>
