<ion-view ng-controller="FriendController as friend_ctrl" ng-init="friend_ctrl.getUserInfo()">

  <ion-nav-bar class="bar-positive nav-title-slide-ios7">
    <ion-nav-title>
      Friends
    </ion-nav-title>

  </ion-nav-bar>

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

  </ion-nav-buttons>

  <ion-content class="has-header padding has-tabs">


    <div class="item item-divider" ng-show="friend_ctrl.receivedInvites">
      Friend requests
    </div>

    <div ng-hide="friend_ctrl.receivedInvites">
      <ion-list>
        <ion-item>
          <ion-spinner></ion-spinner>
        </ion-item>
      </ion-list>
    </div>
    <ion-list ng-show="friend_ctrl.noReceivedInvites">
      <ion-item>
    No friend requests atm
      </ion-item>
    </ion-list>

    <div ng-repeat="friendRequest in friend_ctrl.receivedInvites" ng-show="friend_ctrl.receivedInvites">


      <div class="row">
        <div class="col">
          {{ friendRequest.username }}
        </div>
        <div class="col col-offset-40">
          <button class="button button-small button-outline button-positive" ng-click="friend_ctrl.acceptInvite(friendRequest)">
            Accept
          </button>
        </div>
      </div>




    </div>


  </ion-content>


</ion-view>
