
<ion-view ng-controller="ChatController as chat_ctrl" ng-init="chat_ctrl.getChatLog()" id="chatView">

  <ion-header-bar class="bar-positive">

    <div class="buttons">

      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>

    </div>

    <h1 class="title">Chat</h1>


    <div class="buttons">

    <button class="button icon ion-person-stalker" ng-if="chat_ctrl.usersOnline">
      Online: {{ chat_ctrl.usersOnline }}
    </button>

    </div>

  </ion-header-bar>





      <ion-content class="has-header has-footer" overflow-scroll="true" delegate-handle="userMessageScroll">

        <ul id="messages" ng-model="chat_ctrl.messagesLine">

          <li ng-repeat="message in chat_ctrl.messages">
            <div class="row">
            <div class="chat-user col">{{ message.user }}</div> <div class="chat-time col col-20 col-offset-25"> {{ message.timeAdded }} </div> <br/>
            </div>
            <div class="row">
            <div class="chat-message col"> {{ message.message }} </div>
            </div>
          </li>

        </ul>

        </ion-content>



  <form name="chatForm" id="chatForm" novalidate ng-submit="chat_ctrl.submitChatMsg()">

    <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>

      <label class="item-input-wrapper">
        <textarea placeholder="message goes here...!" ng-model="chat_ctrl.chatInput" max-length="1500" value="" required minlength="1" msd-elastic></textarea> <!-- usunalem name chatinput -->
      </label>

      <div class="footer-btn-wrap">

        <button class="button button-icon icon ion-android-send footer-btn" type="submit" ng-disabled="!chat_ctrl.chatInput || chat_ctrl.chatInput === ''"></button>

      </div>

    </ion-footer-bar>

  </form>






  </ion-view>
