
  <div class="error" ng-message="required">
    <i class="ion-information-circled"></i>
    This field is required
  </div>

  <div class="error" ng-message="minlength">
    <i class="ion-information-circled"></i>
    Minimum length of this field is 2 characters
  </div>
  <div class="error" ng-message="maxlength">
    <i class="ion-information-circled"></i>
    Maximum length of this field is 20 characters
  </div>

  <div class="info" ng-message="recordLoading">
    <i class="ion-information-circled"></i>
    Checking username availability...
  </div>


  <div class="error" ng-message="recordAvailable">
    <i class="ion-information-circled"></i>
    That username already exists...
  </div>

  <div class="error" ng-message="checkIfMatch">
    <i class="ion-information-circled"></i>
    Password doesn't match or it's too short. Please verify your input.
  </div>
