.userSearchInfo {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #0c60ee;
  vertical-align: middle;
}

.info {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: coral;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

.green-icon {
  color: #4B946A;
  font-size: 12px;
}

.friendRefreshInfo {
  font-size: 10px;
}

.friendname {
  color: #555555;
  font-weight: bold;
  font-size: 13px;
}

.userField {
  margin-left: 5px;
  border: none;
  border-color: transparent;
}


.friendsDivider {
  background-color: #44c308;
  color: white;
}

.findingsDivider {
  background-color: #a2a2a2;
  color: white;
}

