.bold {
  font-weight: bold;
}

.spinnerText {
  padding-top: 10px;
  padding-left: 20px;
  font-weight: bold;
}

.queMarks {
  padding: 10px 10px 10px 10px;
}

.markRed {
  color: red;
}

.markGreen {
  color: green;
}

.markIcon {
  font-size: 22px;
  padding-right: 15px;
}

.markText {
  margin-left: 0px;
}
